
/************************************
*               Header              *
************************************/
header{
    @include flex_row();
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    h1{
        font-family: "Shrikhand";
        font-size: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 0;
        flex: 1;
    }         
}


.city{
    @include flex_row_justify_align();
    background-color: $fond1;
    p{
        font-size: 20px;
        margin-left: 20px;
    }
}

.icon-map{
    font-size: 20px;
}
/************************************
*               Header              *
************************************/
