/************************************
*             Général               *
************************************/
*{
    
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.align{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    
    position: relative;
}
/************************************
*             Général               *
************************************/