@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


/************************************
*            Variable               *
************************************/
    $Primaire: #9356DC;
    $Secondaire : #FF79DA ;
    $Tertiaire :  #99E2D0;
    $fond1 : #EAEAEA; 
    $fond2 : #F6F6F6;
    $grisclaire : #7E7E7E;
    $footer : #353535;
  
    // Font titre Shrikhand

/************************************
*            Variable               *
************************************/

/************************************
*              Mixin                *
************************************/

    @mixin Flex_row { 
        display: flex;
        flex-direction: row;
    }

    @mixin Flex_column { 
        display: flex;
        flex-direction: column;
    }

    @mixin Justify_align {
        justify-content: center;
        align-items: center;  
    }

    @mixin Text_transparent {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    // ANIMATION

    @mixin Slide_up_0 {
        transform: translateY(100px);
        -webkit-transform:  translateY(100px);     
        -ms-transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);   
    }
    @mixin Slide_up_100 {   
        transform: translateY(0);
        -webkit-transform:  translateY(0);     
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
    @mixin Rotate_0 {
        transform: rotate(0);
        -webkit-transform:  rotate(0);   
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0); 
    }
    @mixin Rotate_100 {
        transform: rotate(360deg);
        -webkit-transform:   rotate(360deg);  
        -ms-transform:  rotate(360deg);
        -webkit-transform:  rotate(360deg);
        -moz-transform:  rotate(360deg);
        -o-transform:  rotate(360deg);
    }


/************************************
*              Mixin                *
************************************/


/************************************
*             Général               *
************************************/

*{
    
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
    color: inherit;
}

.align{
    text-align: center;
}

.bold{
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
}
.main{
    
    position: relative;
}



/************************************
*             Général               *
************************************/

/************************************
*              Header              *
************************************/

header{
    @include Flex_row();
    @include Justify_align();
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;       
}
header .logo{
    width: 60%;
    padding: 20px;
}
.arrow-link{
    position: absolute;
    left: 0;
    padding: 20px;
    i{
        font-size: 30px;
      }
}
.image img{
    width : 302px;
    height : 378px;
    width: 100%;
    object-fit: cover; 
    max-height: 30rem;
}
/************************************
*              Header              *
************************************/

/************************************
*               Menu                *
************************************/
.menu{
    background-color: $fond1;
    border-radius: 65px 65px 0px 0px;
    margin-top: -6rem;
    position: relative;
    padding: 0px 35px 35px 35px;
    h1{
        padding-top: 50px;
        font-family: "Shrikhand", "sans-serif";
        font-size: 32px;
        font-weight: 300; 
    }
    h2{
        @include Flex_row();
        justify-content: flex-start;
        position: relative;
        font-weight: 300;
        &::after{
            content: "";
            width: 60px;
            height: 4px;
            background-color: $Tertiaire;
            color: red;
            position: absolute;
            bottom: -6px;
            left: 3px;
        }
        
    }
}

.menu-list{
    @include Flex_column();
}

.menu-card{
    @include Flex_row();
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: $fond2;
    opacity: 0;
    animation: Slide_up 1s both;
    &1{
        animation-delay: 0.1s;
    }
    &2{
        animation-delay: 0.2s;
    }
    &3{
        animation-delay: 0.3s;
    }
    &4{
        animation-delay: 0.4s
    }
    h3{
        margin-bottom: 10px;
        font-weight: 500;
    }
    &:hover .menuSelector{
        width: 6rem;
        opacity: 100%;       
    }
    &:hover .menuSelector i{
        animation: rotate 0.5s both;
    } 
}

.menuPrice{
    @include Flex_column();
    justify-content: flex-end;
    font-weight: 500;
    overflow: visible;   
}

.menuInfo{
    @include Flex_row();
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
    overflow: hidden;
    max-width: 100%; 
}
.menuText{
    @include Flex_column();
    justify-content: space-between;
    white-space: nowrap;  
    overflow: hidden;
    h3,p{
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;  
    }
}

.menuSelector{
    @include Flex_row();
    @include Justify_align();
    position: relative;
    width: 0;
    opacity: 0;
    transform: translateZ(0);
    border-radius: 0px 20px 20px 0px;
    background-color: $Tertiaire;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    i{
        color: white;
        font-size: 35px;
        cursor: pointer;  
    } 
}

.button-menu{
    @include Flex_row();
    @include Justify_align();
    width: 300px;
    margin: 50px auto;
    border: 0;
    border-radius: 100px;
    background-color: unset;
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    font-size: 30px;
    padding: 20px 20px;
    transition: all 200ms ease;
    color: white;
}

.button-menu:hover{
    transform: scale(1.035);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


button{
    border: 0;
    background-color: unset;
    color: white;
}
.text-button-menu{
    font-size: 20px;
    outline: none;
}


// COEUR

.icon-heart{
    font-size: 35px;
    position: absolute;
    &-solid{
        background: linear-gradient(342deg, rgba(160,88,245,1) 0%, rgba(255,135,222,1) 65%);
        transform: scale(0);
        transition: all 300ms ease;
        @include Text_transparent();
    }  
    &-regular{
        transform: scale(1);
        transition: all 300ms ease;
    }
}

.icoCoeur{
    position: absolute;
    right: 65px;
    top: 58px;
    margin-right: 20px;
    &:hover .icon-heart-solid{
        transform: scale(1);
    }
    &:hover .icon-heart-regular{
        transform: scale(0);
    }
}


/************************************
*               Menu                *
************************************/

/************************************
*              Footer               *
************************************/

footer{
    @include Flex_column();
    background-color: $footer;
    color: white;
    padding-left: 50px;
    height: 260px;
}

.nav-link{
   @include Flex_row();
    align-items: center;
    padding: 10px;
    font-weight: 400;
    transition: all 200ms ease;
    &:hover{
        color: $Primaire;
    }
    .icon1{ 
        margin-right:14px;
    }
    .icon2{ 
        margin-right: 8px;
    }
}

.footerTitle{
    font-family: "Shrikhand", "sans-serif";
    font-weight: 300;
    font-size: 25px;
}

/************************************
*              Footer               *
************************************/


/************************************
*            Animation              *
************************************/

@keyframes Slide_up{
    0%{
        @include Slide_up_0()
    }

    100%{
        @include Slide_up_100()
    }
}


@keyframes rotate {
    0% {
        @include Rotate_0();
    }
    100% {
        @include Rotate_100();
    }
  }


/************************************
*            Animation              *
************************************/

/************************************
*            Responsive             *
************************************/

  @media(min-width: 1300px){

    header .logo {
        width: 30%;
        padding: 20px;
    }

    .menu__container{
        @include Flex_row();
        width: 100%;
        justify-content: center;
    }

    .menu h1{
        @include Flex_row();
        justify-content: center;
        font-size: 35px;
    }

    .menu-list {
       @include Flex_column();
        width: 34%;
        padding: 0px 10px 0 10px;
    }
}

@media(max-width: 450px){
    .menu {
        padding: 0px 10px 20px 10px;
    }
}


@media(max-width: 415px){
    .menu h1 {
        font-size: 25px;

    }
    .icon-heart{
        font-size: 35px;
    }
    .icoCoeur {
        top: 51px;
        right: 40px;

    }
    
}

/************************************
*            Responsive             *
************************************/

