
/************************************
*            Responsive             *
************************************/

@media(min-width: 1300px){
    
    header h1 {
        font-size: 5.9vw;
    }

    .menu{
        flex-direction: row;
    }

    .fonctionnement{
        &-card{
            @include flex_row();
            justify-content: space-evenly;
            span{
                left: -11px;
            }
        }
        .card {
            width: 30%;
            padding: 5px;
            box-shadow: rgb(50 50 93 / 0%) 0px 5px 20px 0px, rgb(0 0 0 / 30%) -1px 5px 30px -10px;
        }
    }

    .restaurant__container{
        @include flex_row();
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__card{
            width: 45%;    
        }
    }
}

/************************************
*            Responsive             *
************************************/