@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/************************************
*             Général               *
************************************/


*{
    
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
    color: inherit;
}


body{
    margin: 0;
    padding: 0;
}

.main{
    position: relative;
}



    // Variable
    $Primaire: #9356DC;
    $Secondaire : #FF79DA ;
    $Tertiaire :  #99E2D0;
    $fond1 : #EAEAEA; 
    $fond2 : #F6F6F6;
    $grisclaire : #7E7E7E;
    $footer : #353535;
  
    // Font titre Shrikhand


/************************************
*              Mixin                *
************************************/

    @mixin Flex_row { 
        display: flex;
        flex-direction: row;
    }

    @mixin Flex_column { 
        display: flex;
        flex-direction: column;
    }

    @mixin Justify_align {
        justify-content: center;
        align-items: center;  
    }

    @mixin Text_transparent {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


header{
    @include Flex_row();
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    img{
        width: 60%;
        padding: 20px;
    }         
}

.loader{
    @include Flex_column();
    @include Justify_align();
    width: 100%;
    height: 100%; 
    position: fixed;
    background-color: $fond1;
    animation: loader 3s both;
    z-index: -9999;
    opacity: 0;
    h2{
        font-family: "Shrikhand", "sans-serif";
        font-size: 60px;
        background: linear-gradient(342deg, rgb(160, 88, 245) 0%, rgb(255, 135, 222) 100%);
        @include Text_transparent();
        padding: 5px; 
    }
}

@keyframes loader {

    0%{
        opacity: 1;  
        z-index: 9999;
    }

    70%{
        opacity: 1;   
        z-index: 9999; 
    }

    99%{
        z-index: 9999;
    }

    100%{
        opacity: 0;
        z-index: -9999;
    }
}

.loader-circle {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loader-circle div {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $Primaire;
    border-radius: 50%;
    animation: loader-circle 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $Primaire transparent transparent transparent;
  }
  .loader-circle div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader-circle div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader-circle div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loader-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



.align{
    text-align: center;
}



.city{

    @include Flex_row();
    @include Justify_align();
    background-color: $fond1;
    p{
        font-size: 20px;
        margin-left: 20px;
    }
}

.icon-map{
    font-size: 20px;
}


.menu{
    @include Flex_column();
    @include Justify_align();
    background-color: $fond2;
    h2{
        margin-top: 40px;
        font-size: 28px;
    }
    p {
        font-size: 20px;
        margin-top: 0;   
    }
    button{
        border: 0;
        background-color: unset;
        color: white;
    } 
}

.button-menu{
    @include Flex_row();
    @include Justify_align();
    padding: 20px 20px;
    margin: 20px 0px 20px 0px;
    border: 0;
    border-radius: 100px;
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    font-size: 30px;
    transition: all 200ms ease;
    &:hover{
        transform: scale(1.035);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.text-button-menu{
    font-size: 20px;
}


.fonctionnement{
    @include Flex_column();
    .card{
        @include Flex_row();
        align-items: center;
        background-color: $fond1;
        border-radius: 20px;
        margin-bottom: 50px;
        width: 90%;
        transition: all 200ms ease;
        position: relative;
        padding-left: 20px;   
    }
    h2{
        padding: 40px;
    }
}

.fonctionnement-card{
    @include Flex_column();
    @include Justify_align();
    p {
        font-weight: bold;
    }
    span{
        @include Flex_row();
        @include Justify_align();
        background-color: $Primaire;
        border-radius: 50%;
        padding: 12px;
        color: white;
        width: 20px;
        height: 20px;
        font-size: 13px;
        position: absolute;
        left: -12px;
    }
    .card:hover{
        transform: scale(1.005);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    }
}

.icon-fonctionnement{
    padding: 20px;
    color: $grisclaire;
    font-size: 25px;
}

.purple{
    color: $Primaire;
}


.bold{
    font-weight: bold;
}


.restaurant{
    @include Flex_column();
    background-color: $fond2;
    &__title{
        margin-left: 30px;
        padding: 20px;
    }
}

.restaurant__container__card{
    @include Flex_column();
    position: relative;
    margin-bottom: 50px;
    transition: all 200ms ease;
    border-radius: 20px 20px 20px 20px;
    &:hover{
        transform: scale(1.010);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    }
}

 
.restaurant-card img{
    border-radius: 20px 20px 0px 0px;

}

.restaurant-card-header{
    @include Flex_row();
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    img{
        width: 100%;
        object-fit: cover;
        height: 220px;
     
     }

}


.restaurant-card-footer{
    @include Flex_row();
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
}


.restaurant__container{
    width: 90%;
    margin: auto;

}

.restaurant-card-footer-left p,h2{
    margin: 0;

}

.restaurant-card-footer-left p{
    margin-top: 10px;
}


.icon-heart{
    font-size: 35px;
    position: absolute;
    &-solid{
        background: linear-gradient(342deg, rgba(160,88,245,1) 0%, rgba(255,135,222,1) 65%);
        transform: scale(0);
        transition: all 300ms ease;
        @include Text_transparent();
    }
    &-regular{
        transform: scale(1);
        transition: all 300ms ease;
    }   
}

.icoCoeur{
    position: absolute;
    right: 55px;
    bottom: 65px;
    margin-right: 20px;
    &:hover .icon-heart-solid{
   
        transform: scale(1); 
    }
    &:hover .icon-heart-regular{
        transform: scale(0);
    }
}

.new{
    position: absolute;
    right: 0;
    background-color: $Tertiaire;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    color: green;
    font-weight: 500;
}


footer{
    @include Flex_column();
    background-color: $footer;
    color: white;
    padding-left: 50px;
    height: 260px;
}

.nav__link{
    @include Flex_row();
    padding: 10px;
    align-items: center;
    font-weight: 400;
    transition: all 200ms ease;
    &:hover{
        color : $Primaire;
    }
    .icon1{ 
        margin-right: 20px;
        width: 16px;
    }
    .icon2{ 
        margin-right: 20px;
        width: 16px; 
    }
}


.footerTitle{
    font-family: "Shrikhand", "sans-serif";
    font-weight: 300;
    font-size: 25px;
}

@media(min-width: 1300px){
    header img {
        width: 30%;
        padding: 20px;
    }

    .menu{
        flex-direction: row;
    }

    .fonctionnement{
        &-card{
            @include Flex_row();
            justify-content: space-evenly;
            span{
                left: -11px;
            }
        }
        .card {
            width: 30%;
            padding: 5px;
            box-shadow: rgb(50 50 93 / 0%) 0px 5px 20px 0px, rgb(0 0 0 / 30%) -1px 5px 30px -10px;
        }
    }

    .restaurant__container{
        @include Flex_row();
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__card{
            width: 45%;    
        }
    }
}



