/************************************
*            Variable               *
************************************/
$Primaire: #9356DC;
$Secondaire : #FF79DA ;
$Tertiaire :  #99E2D0;
$fond1 : #EAEAEA; 
$fond2 : #F6F6F6;
$grisclaire : #7E7E7E;
$footer : #353535;
/************************************
*            Variable               *
************************************/